*{
    padding: 0px;
    scroll-snap-type: 100%;
}
body{
    margin: 0px;
    background-color: black;
}
p{
    cursor: default;
}
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
}
/* navbar */
.navbar-wrapper{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 70px;
        backdrop-filter: blur(20px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-family: Bugatti Text Regular,sans-serif;
    font-size: 2rem;
}

/* intro */

.intro-wrapper{
    width: 100%;
    height: 841px;
    background-image: url(./images/bugatti-chiron-pur-sport-sports-cars-hypercars-black-5120x2880-5560.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.intro-wrapper .intro p{
    font-size: 4rem;
    font-family: sans-serif;
    color: rgb(202, 202, 202);
    position: relative;
    top: -200px;
}
/* engine */

.engine-wrapper{
    width: 100%;
    height: 1000px;
    background-image: url(./images/bugatti-s-quad-turbocharged-8.0-liter-w16-engine.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.engine-wrapper .engine p{
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
    position: relative;
    top: -100px;
}

/* interior */

.interior-wrapper{
    width: 100%;
    height: 1000px;
    background-image: url(./images/bugatti-chiron-5120x3413-13736.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}